# Отключение входа суперпользователя (защита от брутфорса root)
PermitRootLogin no

# Полный запрет парольной аутентификации
PasswordAuthentication no

# Авторизация исключительно по криптографическим ключам (Ed25519/RSA)
PubkeyAuthentication yes

# Смена стандартного порта для снижения фонового шума от ботнетов
Port 2222